.lineBg {
    position: absolute;
    right: 0;
    top: 0;
  }
  .lineBgBottom{
    position:absolute;
    left:0;
    bottom:0;
    z-index: 0;
  }
  
  @media screen and (max-width: 767px) {
    .lineBg,
    .lineBgBottom{
      display: none;
    }
  }
  