.logo {
    /* margin-bottom: 40px; */
    position: relative;
    z-index: 9;
    display: none;
    height: 26px;
  }
  .logoRight{
    text-align: right;
    padding: 0;
    display: block;
    position: absolute;
    top: -42px;
    right: 20px;
  }
  @media (max-width: 767px) {
    .logo{
      display: block
    }
  }